<div class="container">
    {{form_start(form)}}
    
    <h2 class="text-center">::IMAGE::</h2>

    {{form_row(form.image.chemin)}}
    {{form_row(form.image.alt)}}
    {{form_row(form.image.published, {"label_attr" : {"class": "checkbox-switch"}})}}

    <h2 class="text-center">::ARTICLE::</h2>

    {{form_row(form.title)}}
    {{form_row(form.content)}}
    {{form_row(form.published, {"label_attr" : {"class" : "checkbox-switch"}})}}

    <h2 class="text-center">::CATEGORIE(S)::</h2>

    {{form_row(form.categories, {"label_attr" : {"class" : "checkbox-switch"}})}}
    {{form_end(form)}}

</div>

