{% extends "base.html.twig" %}


{% block title %}{{ article.title|replace({'-':' '}) }} | {{parent()}}{% endblock %}

{% block content %}
    <article class="container">
        <div class="row">
            <div class="col col-12">
                <h2 class="text-center">{{ article.title|replace({'-':' '})|upper }}</h2>
                <span class="text-center d-block">{{article.publicationDate|date("d/m/Y")}}</span>
                {% if article.image.chemin is defined  and article.image.chemin is not null %}
                <div class="text-center">
					<img src="{{ asset('images/articles/' ~ article.image.chemin) }}" alt="{{article.image.alt}}" class="img-fluid" style="max-width:450px">
				</div>
                {% endif %}
                <span class="categories text-center d-block font-weight-bold text-uppercase">
                    Catégories : 
                    {% for category in article.categories %}
                        {{category.label}}  {{loop.last ? " " : ","}}
                    {% endfor %}
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col col-12">
                <p class="text-justify">
                    {{article.content}}
                </p>
            </div>
        </div>
    </article>
{% endblock %}